*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

:root {
  font-family: "Radio Canada Big", serif;
  --light-grey: #F6F5F1;
}


.hidden {
  display: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  min-height: 100vh;
}

.nav {
  background-color: var(--light-grey);
  margin: 0 auto 2rem auto;
  max-width: 100%;
  display: grid;
}

.toggle-language {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  /* border: 1px solid black;
  border-radius: 50%; */
}

.nav__button {
  grid-row: 1;
  grid-column: 3;
  align-self: center;
  justify-self: end;

  /* reset button styles */
  border: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1;
  background: transparent;
  appearance: none;
  color: black;
}

.nav__button svg {
  width: 1.5rem;
  height: 1.5rem;
}

.nav__list {
  grid-row: 2;
  grid-column: 1 / span 2;
}

.nav__item {
  border-top: solid 1px black;
}

.nav__item:last-of-type {
  border-bottom: solid 1px black;
}

.nav__link {
  display: block;
  text-align: center;
  padding: .5em;
  color: black;
}

.nav__link:hover {
  background-color: var(--primary-color);
}

/* @media (prefers-reduced-motion:no-preference) {
  .nav__link::before {
    transition: inset .2s ease-in-out;
  }
} */

@media screen and (min-width: 45em) {
  .nav {
    grid-template-columns: min-content auto;
    align-items: center;
    gap: 1rem
  }

  .logo {
    grid-row: 1;
    grid-column: 1;
    margin: 0;
    align-self: center;
  }

  /* make the logo at center, add padding or margin to the side */
  .toggle-language {
    grid-row: 1;
    grid-column: 3;
    justify-self: end;
  }

  .nav__button {
    display: none;
  }

  .nav__list {
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    margin-inline-start: auto;
  }

  .nav__item,
  .nav__item:last-of-type {
    border: none;
  }

  .nav__link {
    padding-inline: 2rem;
  }
}