*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

:root {
  --light-grey: #F6F5F1;
  --dark-red: #A91626;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
}

h1 {
  /* font-family: "haboro", sans-serif;
  font-weight: 600; */
  font-family: "lust", serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--dark-red);
  padding: 1rem 0 0 0;
  line-height: 1.2;
}

p {
  max-width: 50ch;
  font-size: clamp(1rem, 2.5vw, 1.25rem);
  line-height: 1.25;
  padding: .5rem 0;
}

.button {
  color: var(--dark-red);
  background-color: #fff;
  border: 1px solid var(--dark-red);
  padding: .5rem 1.5rem;
  box-shadow: 3px 3px 0 0 var(--dark-red);
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: var(--light-grey);
}

.nav {
  background-color: var(--light-grey);
  margin: 0 auto 0 auto;
  max-width: 100%;
  display: grid;
  padding: 0 1rem;
}

.logo {
  justify-self: center;
}

.toggle-language {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  font-family: "lust-text", serif;
  font-weight: 400;
  /* border: 1px solid black;
  border-radius: 50%; */
}

.nav__button {
  grid-row: 1;
  grid-column: 3;
  align-self: center;
  justify-self: end;

  /* reset button styles */
  border: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1;
  background: transparent;
  appearance: none;
  color: black;
}

.nav__button svg {
  width: 1.5rem;
  height: 1.5rem;
}

.nav__list {
  grid-row: 2;
  grid-column: 1 / span 3;
}

.nav__item {
  border-top: solid 1px black;
}

/* .nav__item:last-of-type {
  border-bottom: solid 1px black;
} */

.nav__link {
  display: block;
  text-align: center;
  padding: .5em;
  color: black;
  font-family: "lust-text", serif;
  font-weight: 400;
}

.nav__link:hover {
  background-color: var(--primary-color);
}

/* MAIN */
.main {
  border-top: solid 1px black;
}


#anim {
  width: 100%;
  height: auto;
  background-image: url(/public/assets/img/grid-bg.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  width: 100%;
  height: 75vh;
  position: relative;
}

.hero__container {
  position: absolute;
  top: 47%;
  /* for all the container */
  padding: 0 1rem;
}

.hero__slogan {
  font-family: "lust-text", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.35rem;
}

mark {
  background-color: var(--light-grey);
}

.mark {
  color: var(--dark-red);
}

.bio {
  height: 65vh;
  position: relative;
  margin-top: 5rem;
}
/* footer */
.footer {
  display: grid;
  grid-template-rows: repeat(4, auto);
  justify-items: center;
  padding: 1.5rem 0;
  border-top: 1px solid black;
  gap: 1rem;
}

.footer__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  height: 10.5vh;
  background-color: grey;
  gap: 1px;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.footer__item {
  background-color: #fff;
  text-align: center;
  align-content: center;
}

.footer__item:nth-child(2) {
  grid-column: span 2;
}

.footer__item:nth-child(4),
.footer__item:nth-child(5) {
  grid-column: span 2;
}

.footer__link {
  font-family: "Radio Canada Big", sans-serif;
  text-align: center;
  color: black;
  font-size: clamp(0.9rem, 2vw, 1rem);
  padding: 0.5rem 2rem;
}

/* @media (prefers-reduced-motion:no-preference) {
  .nav__link::before {
    transition: inset .2s ease-in-out;
  }
} */

@media screen and (min-width: 62em) {
  .nav {
    grid-template-columns: min-content auto;
    align-items: center;
    gap: 1rem
  }

  .logo {
    grid-row: 1;
    grid-column: 1;
    margin: 0;
  }

  .toggle-language {
    grid-row: 1;
    grid-column: 3;
    justify-self: end;
  }

  .nav__button {
    display: none;
  }

  .nav__list {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    /* margin-left: 10rem; */
  }

  .nav__item,
  .nav__item:last-of-type {
    border: none;
  }

  .nav__link {
    padding: 0 2rem;
  }

  /* footer */
  .footer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
  }

  .footer__list {
    display: flex;
    background-color: transparent;
    border: none;
    align-self: center;
  }

  .footer__item {
    background-color: transparent;
  }

  .footer__link {
    min-width: 4vw;
  }

  .footer__socials {
    grid-row: 1;
    grid-column: 3;
    align-self: center;
  }

  .footer__copyright {
    grid-column: 2;
  }
}